<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JhireFarma</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</head>

<body>

  <!-- Navegación principal -->
  <div th:replace="fragments/tienda/navbar_tienda :: mainNavBar"></div>
  <!-- Navegación secundaria (categorías) -->
  <div th:replace="fragments/tienda/navbar_tienda :: secondaryNavBar"></div>
  <!-- CARRUSEL -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
      <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button> -->
      <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></button> -->
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.ctfassets.net/l9x8e72nkkav/6Bfkrjcm2O5pGPe7p36YT3/2462d20231d4290b13ac323ed9bd8907/totaldent-cuidadopersonal-inkafarma-inkafarma-slider-x1-web.jpg?fm=avif"
          class="d-block w-100 bg-warning" alt="Imagen 1">
      </div>
      <div class="carousel-item">
        <img
          src="https://images.ctfassets.net/l9x8e72nkkav/b9Iit5yvxbBeLjQawdTyn/74255ec10f2e706e1ea7a92cb6117a75/Nivea-belleza-inkafarma-slider-x1-web.jpg?fm=avif"
          class="d-block w-100 bg-success" alt="Imagen 2">
      </div>
      <!-- <div class="carousel-item">
        <img th:src="@{/img/slider3.jpg}" class="d-block w-100 bg-info" alt="Imagen 3">
      </div>
      <div class="carousel-item">
        <img th:src="@{/img/slider4.jpg}" class="d-block w-100 bg-primary " alt="Imagen 4">
      </div>
      <div class="carousel-item">
        <img th:src="@{/img/slider5.jpg}" class="d-block w-100 bg-dark" alt="Imagen 5">
      </div> -->
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <!-- SECCIÓN LO MÁS BUSCADO -->
  <section class="container my-5">
    <h2 class="text-center mb-4 fw-bold">Lo más buscado</h2>

    <div class="row row-cols-1 row-cols-md-5 g-4">
      <!-- Card generado dinámicamente -->
      <div class="col" th:each="producto : ${productosMasBuscados}">
        <div th:replace="fragments/tienda/card_producto :: card_producto"></div>
      </div>
    </div>
  </section>

  <!--Offcanvas -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="carritoOffcanvas">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">
        Mi Carrito
        <!-- Mi Carrito (<span class="size-carrito" th:text="${carritoCantidadTotal}">0</span>) -->
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body" id="offcanvas-body-carrito">
      Cargando...
    </div>
  </div>
  <!-- Scripts del carrito -->
  <div th:replace="fragments/tienda/carrito_scripts :: carritoScripts"></div>
  <!-- Modal de login -->
  <div th:replace="fragments/login_modal :: loginModal"></div>
</body>


</html>
<!-- Para buscador de productos -->
<script th:src="@{/js/api_productos.js}"></script>
<!-- Para abrir el modal de login cuando la ruta se dirge a /login -->
<script th:if="${mostrarModalLogin}">
  var loginModal = new bootstrap.Modal(document.getElementById('loginModal'));
  loginModal.show();
</script>