<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Mantenimientos</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</head>

<body class="bg-light">
  <div th:replace="fragments/sidebar_admin::hamburgerBtnMobile"></div>
  <div class="container-fluid">
    <div class="row">
      <div th:replace="fragments/sidebar_admin::sidebarMenuDesktop"></div>
      <div th:replace="fragments/sidebar_admin::sidebarMenuMobile"></div>
      <!-- Contenido principal -->
      <main class="col-md-9 col-lg-10 py-4">
        <div class="container">
          <div class="card shadow-sm border-0">
            <div class="card-body">
              <h3 class="card-title mb-4">Parámetros</h3>
              <!-- Tabs -->
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <!-- <li class="nav-item" role="presentation">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#categoria" type="button"
                    th:classappend="${tabActiva.equals('categoria')} ? ' active' : ''"
                    th:href="@{/parametros(tab='categoria')}">Categoría</button>
                </li> -->
                <li class="nav-item" role="presentation">
                  <a class="nav-link" th:classappend="${tabActiva.equals('categoria')} ? ' active' : ''"
                    th:href="@{/parametros(tab='categoria')}" role="tab">Categoría</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" th:classappend="${tabActiva.equals('marca')} ? ' active' : ''"
                    th:href="@{/parametros(tab='marca')}" role="tab">Marca</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" th:classappend="${tabActiva.equals('sintoma')} ? ' active' : ''"
                    th:href="@{/parametros(tab='sintoma')}" role="tab">Síntoma</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" th:classappend="${tabActiva.equals('presentacion')} ? ' active' : ''"
                    th:href="@{/parametros(tab='presentacion')}" role="tab">Presentación</a>
                </li>
              </ul>

              <div class="tab-content mt-3">

                <!-- Categoría -->
                <div id="categoria"
                  th:class="${tabActiva.equals('categoria')} ? 'tab-pane fade show active' : 'tab-pane fade'">
                  <form th:action="@{/parametros/categoria/guardar}" method="post" class="row g-3">
                    <input type="hidden" name="id" th:value="${formCategoria != null} ? ${formCategoria.id} : ''">
                    <div class="col-md-7">
                      <label class="form-label">Nombre</label>
                      <input type="text" name="nombre" class="form-control"
                        th:value="${formCategoria != null} ? ${formCategoria.nombre} : ''" required />
                    </div>
                    <div class="col-md-3">
                      <div class="col-md-12">
                        <label class="form-label">Estado</label>
                      </div>
                      <div class="form-check form-switch">
                        <input class="form-check-input switch-estado" type="checkbox" id="switchCat" name="estado"
                          value="true" th:checked="${formCategoria != null} ? ${formCategoria.estado} : ''">
                        <label class="form-check-label" for="switchCat"
                          th:text="${formCategoria != null} ? 'Activo' : 'Inactivo'"></label>
                      </div>
                    </div>
                    <div class="col-md-2 text-center align-content-center">
                      <button class="btn btn-secondary" th:text="${esEdicion} ? 'Actualizar' : 'Guardar'">
                        Guardar
                      </button>
                    </div>
                  </form>
                  <h4 class="mt-4">Listado de categorías</h4>
                  <table class="table table-bordered mt-3">
                    <thead>
                      <tr>
                        <th class="text-center">ID</th>
                        <th>Nombre</th>
                        <th class="text-center">Estado</th>
                        <th style="width:130px;" class="text-center">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="c : ${categoria}">
                        <td th:text="${c.id}" class="text-center"></td>
                        <td th:text="${c.nombre}"></td>
                        <!-- Indicador de Activo -->
                        <td class="text-center">
                          <span th:if="${c.estado}" class="badge bg-success">Visible</span>
                          <span th:if="${!c.estado}" class="badge bg-danger">No visible</span>
                        </td>
                        <!-- Acciones -->
                        <td class="text-center">
                          <a th:href="@{/parametros(tab='categoria',id=${c.id})}" class="btn btn-sm btn-primary">
                            <i class="bi bi-pencil-square"></i>
                          </a>
                          <a th:href="@{'/parametros/categoria/toggle/' + ${c.id}}" class="btn btn-sm btn-warning ms-1">
                            <i class="bi" th:classappend="${c.estado} ? 'bi-toggle-on' : 'bi-toggle-off'"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Marca -->
                <div th:class="${tabActiva.equals('marca')} ? 'tab-pane fade show active' : 'tab-pane fade'" id="marca">
                  <form th:action="@{/parametros/marca/guardar}" method="post" class="row g-3">
                    <input type="hidden" name="id" th:value="${formMarca != null} ? ${formMarca.id} : ''">
                    <!-- campo nombre -->
                    <div class="col-md-7">
                      <label class="form-label">Nombre</label>
                      <input type="text" name="nombre" class="form-control"
                        th:value="${formMarca != null} ? ${formMarca.nombre} : ''" required />
                    </div>
                    <!-- campo pais origen -->
                    <div class="col-md-2">
                      <label class="form-label">País de origen</label>
                      <!-- <div th:replace="fragments/select_paises :: selectPaises('paisOrigen')"></div> -->
                      <div
                        th:replace="fragments/select_paises :: selectPaises('paisOrigen', ${formMarca != null ? formMarca.paisOrigen : null})">
                      </div>
                    </div>
                    <!-- campo estado -->
                    <div class="col-md-1">
                      <div class="col-md-12">
                        <label class="form-label">Estado</label>
                      </div>
                      <div class="form-check form-switch">
                        <input type="checkbox" name="estado" class="form-check-input switch-estado" id="switchMar"
                          role="switch" aria-checked="${m.estado}"
                          th:checked="${formMarca != null} ? ${formMarca.estado} : false">
                        <label class="form-check-label" for="switchMar"
                          th:text="${formMarca != null && formMarca.estado} ? 'Activo' : 'Inactivo'"></label>
                      </div>
                    </div>
                    <!-- campo guardar -->
                    <div class="col-md-2 text-center align-content-center">
                      <button class="btn btn-secondary"
                        th:text="${esEdicion} ? 'Actualizar' : 'Guardar'">Guardar</button>
                    </div>
                  </form>
                  <h4 class="mt-4">Listado de marcas</h4>
                  <table class="table table-bordered mt-3">
                    <thead>
                      <tr>
                        <th class="text-center">ID</th>
                        <th>Nombre</th>
                        <th class="text-center">País de origen</th>
                        <th class="text-center">Estado</th>
                        <th style="width:130px;" class="text-center">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="m : ${marca}">
                        <td th:text="${m.id}" class="text-center"></td>
                        <td th:text="${m.nombre}"></td>
                        <td th:text="${m.paisOrigen}" class="text-center"></td>
                        <td class="text-center">
                          <span th:if="${m.estado}" class="badge bg-success">Visible</span>
                          <span th:if="${!m.estado}" class="badge bg-danger">No Visible</span>
                        </td>
                        <td class="text-center">
                          <a th:href="@{/parametros?(tab='marca',id=${m.id})}" class="btn btn-sm btn-primary">
                            <i class="bi bi-pencil-square"></i>
                          </a>
                          <a th:href="@{'/parametros/marca/toggle/' + ${m.id}}" class="btn btn-sm btn-warning ms-1">
                            <i class="bi" th:classappend="${m.estado} ? 'bi-toggle-on' : 'bi-toggle-off'"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Síntoma -->
                <div th:class="${tabActiva.equals('sintoma')} ? 'tab-pane fade show active' : 'tab-pane fade'"
                  id="sintoma">
                  <form th:action="@{/parametros/sintoma/guardar}" method="post" class="row g-3">
                    <input type="hidden" name="id" th:value="${formSintoma != null} ? ${formSintoma.id} : ''">
                    <!-- campo nombre -->
                    <div class="col-md-7">
                      <label class="form-label">Nombre</label>
                      <input type="text" name="nombre" class="form-control"
                        th:value="${formSintoma != null} ? ${formSintoma.nombre} : ''" required />
                    </div>
                    <!-- campo estado -->
                    <div class="col-md-3">
                      <div class="col-md-12">
                        <label class="form-label">Estado</label>
                      </div>
                      <div class="form-check form-switch">
                        <input type="checkbox" name="estado" class="form-check-input switch-estado" id="switchSin"
                          role="switch" aria-checked="${s.estado}"
                          th:checked="${formSintoma != null} ? ${formSintoma.estado} : false">
                        <label class="form-check-label" for="switchSin"
                          th:text="${formSintoma != null && formSintoma.estado} ? 'Activo' : 'Inactivo'"></label>
                      </div>
                    </div>
                    <!-- botón guardar -->
                    <div class="col-md-2 text-center align-content-center">
                      <button class="btn btn-secondary"
                        th:text="${esEdicion} ? 'Actualizar' : 'Guardar'">Guardar</button>
                    </div>
                  </form>
                  <h4 class="mt-4">Listado de síntomas</h4>
                  <table class="table table-bordered mt-3">
                    <thead>
                      <tr>
                        <th class="text-center">ID</th>
                        <th>Nombre</th>
                        <th class="text-center">Estado</th>
                        <th style="width:130px;" class="text-center">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="s : ${sintoma}">
                        <td th:text="${s.id}" class="text-center"></td>
                        <td th:text="${s.nombre}"></td>
                        <td class="text-center">
                          <span th:if="${s.estado}" class="badge bg-success">Visible</span>
                          <span th:if="${!s.estado}" class="badge bg-danger">No Visible</span>
                        </td>
                        <td class="text-center">
                          <a th:href="@{/parametros?(tab='sintoma',id=${s.id})}" class="btn btn-sm btn-primary">
                            <i class="bi bi-pencil-square"></i>
                          </a>
                          <a th:href="@{'/parametros/sintoma/toggle/' + ${s.id}}" class="btn btn-sm btn-warning ms-1">
                            <i class="bi" th:classappend="${s.estado} ? 'bi-toggle-on' : 'bi-toggle-off'"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Presentación -->
                <div th:class="${tabActiva.equals('presentacion')} ? 'tab-pane fade show active' : 'tab-pane fade'"
                  id="presentacion">
                  <form th:action="@{/parametros/presentacion/guardar}" method="post" class="row g-3">
                    <input type="hidden" name="id" th:value="${formPresentacion != null} ? ${formPresentacion.id} : ''">
                    <!-- campo nombre -->
                    <div class="col-md-7">
                      <label class="form-label">Nombre</label>
                      <input type="text" name="nombre" class="form-control"
                        th:value="${formPresentacion != null} ? ${formPresentacion.nombre} : ''" required />
                    </div>
                    <!-- campo estado -->
                    <div class="col-md-3">
                      <div class="col-md-12">
                        <label class="form-label">Estado</label>
                      </div>
                      <div class="form-check form-switch">
                        <input type="checkbox" name="estado" class="form-check-input switch-estado" id="switchPres"
                          role="switch" aria-checked="${p.estado}"
                          th:checked="${formPresentacion != null} ? ${formPresentacion.estado} : false">
                        <label class="form-check-label" for="switchPres"
                          th:text="${formPresentacion != null && formPresentacion.estado} ? 'Activo' : 'Inactivo'"></label>
                      </div>
                    </div>
                    <!-- botón guardar -->
                    <div class="col-md-2 text-center align-content-center">
                      <button class="btn btn-secondary"
                        th:text="${esEdicion} ? 'Actualizar' : 'Guardar'">Guardar</button>
                    </div>
                  </form>
                  <h4 class="mt-4">Listado de presentaciones</h4>
                  <table class="table table-bordered mt-3">
                    <thead>
                      <tr>
                        <th class="text-center">ID</th>
                        <th>Nombre</th>
                        <th class="text-center">Estado</th>
                        <th style="width:130px;" class="text-center">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="p : ${presentacion}">
                        <td th:text="${p.id}" class="text-center"></td>
                        <td th:text="${p.nombre}"></td>
                        <td class="text-center">
                          <span th:if="${p.estado}" class="badge bg-success">Visible</span>
                          <span th:if="${!p.estado}" class="badge bg-danger">No Visible</span>
                        </td>
                        <td class="text-center">
                          <a th:href="@{/parametros?(tab='presentacion',id=${p.id})}" class="btn btn-sm btn-primary">
                            <i class="bi bi-pencil-square"></i>
                          </a>
                          <a th:href="@{'/parametros/presentacion/toggle/' + ${p.id}}"
                            class="btn btn-sm btn-warning ms-1">
                            <i class="bi" th:classappend="${p.estado} ? 'bi-toggle-on' : 'bi-toggle-off'"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

<script>

  //Para cambiar el texto del label de estado para categoría
  document.addEventListener("DOMContentLoaded", () => {

    // Buscar todos los switches con clase .switch-estado
    document.querySelectorAll(".switch-estado").forEach(sw => {

      const lbl = document.querySelector(`label[for="${sw.id}"]`);

      // Inicializar texto por si Thymeleaf no cargó nada
      if (lbl) {
        lbl.textContent = sw.checked ? "Activo" : "Inactivo";
      }

      // Evento dinámico para cada switch
      sw.addEventListener("change", () => {
        console.log("aaa")
        if (lbl) {
          lbl.textContent = sw.checked ? "Activo" : "Inactivo";
        }
      });
    });

  });
</script>