<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Reservas</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</head>

<body>
  <div th:replace="fragments/sidebar_pos::hamburgerBtnMobile"></div>
  <div class="container-fluid">
    <div class="row">
      <div th:replace="fragments/sidebar_pos::sidebarMenuDesktop"></div>
      <div th:replace="fragments/sidebar_pos::sidebarMenuMobile"></div>
      <!-- Contenido principal -->
      <main class="col-md-9 col-lg-10 bg-light-custom">
        <div class="row p-4 rounded">
          <h2>Listado de Pedidos</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Método Pago</th>
                <th>Total</th>
                <th>Recojo</th>
                <th>Horario</th>
                <th>Cliente</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="r : ${reservas}">
                <td th:text="${r.id}"></td>
                <td th:text="${r.fecha}"></td>
                <td th:text="${r.estado}"></td>
                <td th:text="${r.metodoPago}"></td>
                <td th:text="${r.total}"></td>
                <td th:text="${r.recojo}"></td>
                <td th:text="${r.horarioRecojo}"></td>
                <td th:text="${r.nombreRecojo}"></td>
                <td>
                  <a th:href="@{'/pedido/detalle/' + ${r.id}}" class="btn btn-primary btn-sm">
                    Ver Detalle
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

</body>

</html>