<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Método Pago</th>
      <th>Total</th>
      <th>Recojo</th>
      <th>Horario</th>
      <th>Cliente</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr th:each="r : ${reservas}">
      <td th:text="${r.id}"></td>
      <td th:text="${r.fecha}"></td>
      <td th:text="${r.estado}"></td>
      <td th:text="${r.metodoPago}"></td>
      <td th:text="${r.total}"></td>
      <td th:text="${r.recojo}"></td>
      <td th:text="${r.horarioRecojo}"></td>
      <td th:text="${r.nombreRecojo}"></td>

      <td>
        <a th:href="@{'/reservas/' + ${r.id}}" class="btn btn-primary btn-sm">
          Ver Detalle
        </a>
      </td>
    </tr>
  </tbody>
</table>